*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fcfaf8;
}

/*---- Header Navbar ----*/

header.navbar-container {
  width: 100%;
  height: 4.5rem;
  padding-block: 0.5rem;
  margin-inline: auto;
  background-color: #E6A4B4;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}

header.navbar-container .logo h1 {
  font-weight: 900;
  color: rgb(48, 10, 26);
  margin-left: -100px;
  
}

header.navbar-container .nav-list ul {
  padding-left: 0;
  display: flex;
  justify-content: center;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  padding: 1rem;
  border-radius: 999px;

  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(77, 8, 38);
}

header.navbar-container .nav-list li:hover a {
  background-color: #ffa7ca;
  color: white;
}

/*--------------------------------------------------*/

/*---- Main ----*/
main {
  margin-top: 4%;
}

/*---- Hero ----*/
.hero{
  background-image: url(/tugas/assets/image/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 650px;
  display: flex;
  color: rgb(77, 8, 38);
  
  transition: all 0.3s ease-in;
}
.hero .hero-body .container .title{
  padding: 20% 7% 0%;
  font-size: 5rem;
  font-weight: 900;
  font-family: "Montserrat";
}
.hero .hero-body .container .subtitle{
  padding: 0px 0% 0% 7%;
  margin-top: -50px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Montserrat";
  text-align: left !important;
}
/* ----------------------------------------------- */
h2{
  font-size: 2.5rem;
  text-align: center;
}
/* ---- Produk ---- */
.product-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.product {
  background-color: #fcfaf8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.price {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}
.produk button{
  border: 0;
  font-family: "Quicksand";
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #ff648b;
}
.produk button:hover{
  background-color: #f77a9a;
}
/* ----------------------------------------------- */
/* About Us */
.about {
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
}

.about-image {
  flex: 1;
  margin: 20px 40px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-content {
  flex: 2;
  margin-right: 5%;
}
/* ----------------------------------------------- */
/* Testimoni */
.container-testi{
  display: flex;
  margin: 2px 150px;
}
.testi {
  max-width: 500px;
  margin: 20px 5px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}
.testi img{
  width: 150px;
  border-radius: 50%;
  border: 1px solid #cdcccc;
}
.testimonial {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.testimonial p {
  flex: 1;
  padding: 10px;
}

.author {
  font-style: italic;
}
/* ----------------------------------------------- */
/* Contact Us */
.contact-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.contact-info {
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-gap: 15px;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #8e8d8d61;
  background-color: #efefef;
}

button {
  background-color: #ff648b;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ffb7c9;
}
/* ----------------------------------------------- */

footer {
  padding: 2px 50px;
  color: rgb(77, 8, 38);
  background-color: #E6A4B4;
}

